{% load my_filters %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Big Event</title>
    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <!-- date range picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- js -->
    <script>
        $(function() {
            $('input[name="dateRange"]').daterangepicker({
                drops: 'up',
                autoUpdateInput: false,
                startDate: moment(),
                minDate: moment(),
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('input[name="dateRange"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });
            $('input[name="dateRange"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });

        function checkTime() {
            var date = new Date().toLocaleDateString();
            var dateRange = document.getElementById("dateRange").value;
            var preparation = dateRange.split(" - ")[1];
            var preparingE = preparation.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3/$1/$2");
            if (preparingE < date) {
                alert("Please check the preparation time range.\nThe time should be in the future.");
                return false;
            }

            var preparingEnd = preparation.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2T23:59");
            var startTime = document.getElementById("startTime").value;
            var endTime = document.getElementById("endTime").value;
            if (startTime == "" && endTime == "") {
                return true;
            }
            if ((startTime == "" && endTime != "") || (startTime != "" && endTime == "")) {
                alert("Please input the start time and the end time of the final event.");
                return false;
            }
            if (startTime >= endTime) {
                alert("Please check the final event time.\nThe start time should be before the end time.");
                return false;
            }
            if (preparingEnd >= startTime) {
                alert("Please check the final event time.\nThe start time should be after the preparing time range.");
                return false;
            }
        }
    </script>
</head>

<body>
    <div id="sidebar">
        <a href="{% url 'home' %}"><img id="headshot" src="{{img.url}}" alt="headshot"></a><br>
        <h1>{{user}}</h1><br>
        <h3><a href="{% url 'profile' %}">Profile</a></h3>
        <h3><a href="{% url 'summary' %}">Summary</a></h3>
        <h3><a href="{% url 'setting' %}">Setting</a></h3>
    </div>

    <div id="createEvent2">
        <form action="{% url 'editBigEvent' event_id=event|lookup:'id' %}" method="post" onsubmit="return checkTime()">
            {% csrf_token %}
            <h2>Edit Big Event</h2>
            <p>Event Name*: <input type="text" name="eventName" value="{{event|lookup:'eventName'}}" required></p>
            <p>Description:<br><textarea name="description" rows="3" cols="35"></textarea></p>
            <p>Priority*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="number" type="number" min="1" name="priority" required></p><br><br>
            <table id="c_table">
                <tr>
                    <th>Preparing Time
                    </th>
                    <th>Final Event
                    </th>
                </tr>
                <tr>
                    <td>Select the time range*: <input class="dateRange" type="text" name="dateRange" id="dateRange" required/></td>
                    <td>Start Time: <input type="datetime-local" name="startTime" id="startTime"></td>
                </tr>
                <tr>
                    <td>Preparing Hours*: <input class="number" type="number" min="1" step="1" name="preparingHours" required> hrs</td>
                    <td>End Time:&nbsp;&nbsp; <input type="datetime-local" name="endTime" id="endTime"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Location: <input type="text" name="location"></td>
                </tr>
            </table><br>
            <div>{{error}}</div>
            <div id="c_btn2">
                <input class="btn btn-sm" type="submit" value="Save">
            </div>
        </form>
    </div>
</body>

</html>