<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Scheduler</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="intro_content">
        <h1><a href="eventScheduler.html">Event Scheduler</a></h1>
        <p>&emsp;&emsp;Nowadays, many people are using an online app to record their itinerary. Google Calendar is a time-management and scheduling calendar service developed by Google. It can help the users to quickly schedule meetings and events and get
            reminders about upcoming activities.</p>
        <p>&emsp;&emsp;There are many useful features in the Google Calendar such as sharing, invite guests, notifications, etc, but there does not exist any feature that can help users in planning and scheduling events automatically. Users may fail to prepare
            for an important event although they write down the events on the calendar. This is because the notification of this important event only occurs a few days before the deadline. Some events need a lot of preparation (e.g., exams, reports, final
            projects, etc) and it is too late to realize the deadline is just around the corner. The main purpose of this project is to avoid this situation and help users manage their time wisely.</p>
        <p>&emsp;&emsp;In this project, we consider more information about an event, such as preparation time, the required working hours, priority, etc. Our algorithm should plan a user-friendly and effective schedule based on some additional information.
            It should also produce an event list for the users and they can check the box when an event is complete. Besides, the daily completion rate of the events will be recorded, so that the user can improve their time utilization by checking their
            statistics.
        </p>
        <div class="intro_center">
            <button type="button" onclick="javascript:location.href='register.html'">Register</button>
            <button type="button" onclick="javascript:location.href='login.html'">Login</button></div>
    </div>
</body>

</html>