{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summary</title>
    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <!-- date range picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- js -->
    <script>
        $(function() {
            $('input[name="dateRange"]').daterangepicker({
                startDate: moment().subtract(6, 'days'),
                endDate: moment(),
                maxDate: moment(),
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('input[name="dateRange"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });
            $('input[name="dateRange"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
    </script>
</head>

<body>
    <div id="sidebar">
        <a href="{% url 'home' %}"><img id="headshot" src="{{img.url}}" alt="headshot"></a><br>
        <h1>{{user}}</h1><br>
        <h3><a href="{% url 'profile' %}">Profile</a></h3>
        <h3><a href="{% url 'summary' %}">Summary</a></h3>
        <h3><a href="{% url 'setting' %}">Setting</a></h3>
    </div>

    <div id="topbar">
        <p><a href="{% url 'login' %}">Sign Out</a></p>
    </div>

    <div id="content2">
        <h3>Select the time range</h3>
        <form action="showSummary.html" method="post">
	    {% csrf_token %}
            <input class="dateRange" type="text" name="dateRange" /><br><br>
            <input class="btn btn-sm" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>
